<div id="shopify-block-8776485610325655785" class="shopify-block shopify-app-block">
    {% if template contains 'product' %}
        <link data-href="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/fonts.css" rel="stylesheet">
        <link data-href="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/styles.css" rel="stylesheet">
        <script type="lazyload_int" data-src="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/app.js?"></script>
    {% else %}
        <link href="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/fonts.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <link href="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/styles.css" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <script src="https://cdn.shopify.com/extensions/7d04ace4-54a2-4e06-8e31-97b40035de57/hiko-social-login-91/assets/app.js?" async defer></script>
    {% endif %}
</div>