<style type='text/css'>
  .nice_discount_style {
    font-size: 11px;
    line-height: 22px;
    vertical-align: middle;
    border: 1px dashed red;
    display: inline-block;
    padding: 1px 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
</style>
<li class="cart_subtotal"  data-tbnadhide='NO_DISCOUNT' style='display:none;'>
  <span class="right" style="color: red;">-<span data-tbnadfield='CART_DISCOUNT'></span></span>
  <span class="nice_discount_style" data-tbnadfield='DISCOUNT_CODE'></span>
</li>
<li class="cart_subtotal"  data-tbnadhide='NO_DISCOUNT' style='display:none;'>
  <span class="right" data-tbnadfield='CART_TOTAL'></span>  
  <span>Total</span>
</li>