<section class="section">
  <div
    class="
      one-whole
      column      
      content
    "
  >
  <div class="one-half medium-down--one-whole login-title text-center">
    <h4>Wholesale Customers:</h4>
    <p><a href="https://susanshawwholesale.com/" target="_blank"><u>CLICK HERE</u></a> to login to our wholesale site!<br /><br /></p>    
  </div>
    
  </div>  
</section>

<section class="section"> 
  <div class="login-wrapper content is-flex">
    <div class="login-content one-half">
      {% render 'login-form' %}
     </div>
     <div class="registration-content one-half">
        {% section 'registration-form' %}
      </div>
  </div>

  
</section>

{% section 'newsletter' %}

<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login_form').style.display='none';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login_form').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover') {
    showRecoverPasswordForm()
  }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    hideRecoverPasswordForm();
  {% endif %}
</script>
