{%- comment -%}Start: Fix Div{%- endcomment -%}
{%- capture start_html -%}
<div class="gift-guide-wrapper">
    <div class="cta-giftguide medium-up--hide">
       Gift Guide Overview
    </div>
{%- endcapture -%}

{{start_html}}
 