html {
scroll-behavior: smooth;
}
.page-all-articles,
.blog,
.blog-susan-says{

    overflow-x: hidden;
    .section-wrapper--blog{
        background: var(--colorEggShell);
        padding-top: 100px;
       
       
        .section-title{
            h1{
                font-family: "ByronRR-Medium", sans-serif !important;              
                position: relative;               
                font-size: 60px !important;
                position: relative;
                top: 37px;
                margin: 20px 0 !important;
    
                @media screen and (min-width:769px) {
                    top: 51px;
                    font-size:120px !important;        
                }
            }
        }

        .shopify-section--image-with-text{
            padding: 0;

            .section{
               
                color: var(--colorWhite);

                h1 a, h4{
                    color: var(--colorWhite);
                }
               

                .global-button{
                    background: var(--colorClassicNavy);
                    border: none;
                }

                @media screen and (max-width:768px) {
                    h1{
                        margin:0;
                    }
                    h4{
                        margin-bottom: 0;
                    }
                }
            }
        }

        .filters-button-group{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: sticky;
            top: 120px;
            z-index: 99;
            background: #fff;
            position: sticky;           
            overflow-y: scroll;

            @media screen and (min-width:769px) {
                top: 81px;
                justify-content: center;             
                overflow-y: hidden;
            }

            button,
            .button{
                background: none;
                border: none;
                margin:0 2px;
                font-family: 'sweet-sans-pro';
                font-size: 14px;
                color:#858f96;
                font-weight: bold;
            
                &.filter-label,
                &:hover,
                &.is-checked {
                    color: var(--colorClassicNavy);                   
                }
            }
        }

        .blog-template-wrapper{
            margin:20px auto;
            
            .article-grid_wrap{
                border: 0;

                h4{
                    margin-bottom: 0;
                }
            }
        }
        

        .favorite-stories{
            border: none;
            width: 100%;
            min-height: 300px;
            background: var(--colorWhite);
            padding: 20px;

            @media screen and (min-width:769px) {
                width: 98.8%;
                padding: 50px;          
            }

            .favorite-stories--articles{               
                
                @media screen and (max-width:768px) {
                    overflow-x: scroll;
                    flex-wrap: nowrap;
                    justify-content: flex-start;           

                    .article{                        
                         flex: 0 0 70%;                              
                    }
                }

                .article{
                    padding:0 3%;                       
                }
            }

            h1{
                margin-top: 0;
                color: var(--colorClassicNavy);
            }
            h3{
                text-align: center;
                margin:20px 0 0 0;
            }
            p{
                text-align: center;
            }
        }
    }

    .section-wrapper{
        padding:0 !important;

        @media screen and (max-width:767px) {
            padding-top: 50px;
        }
        
        @media screen and (min-width:769px){
            .section-title{
                margin-top: -30px;
            }
        }

        .featured-blog{
            justify-content: space-between;

            .image-with-text-container{
                width: calc(33.3333333333% - 40px);
            }
            
            @media screen and (min-width:769px){
                .featured-articles{
                    h1{
                        font-size: 52px !important;
                    }
                }
            }

            @media screen and (max-width:767px){
                justify-content: center;
                align-items: center;
                flex-direction: column;        
                
                .featured-articles{
                    margin-top:20px;
                  
                    .featured-articles--container{
                        margin-top: 30px !important;
                        padding:0 20px;
                    }
                    h3{
                        font-size: 24px !important;
                    }
                    .global-button{
                        padding:10px 0 !important;
                    }
                }
                .image-with-text-container{
                    width: calc(38% - 40px) !important;
                }
            }
            
        }

        .button-group{
            a{
                background: none;
                border: none;
                margin: 0 2px;
                font-family: sweet-sans-pro;
                font-size: 14px;
                color: #858f96;
                font-weight: 700;
            }

            @media screen and (max-width:768px) {
                top:85px !important;
                padding:10px 0;
            }
        }
        .article-grid_wrap{
            margin:0 0 40px 0;
            
            .one-fourth{
                padding:0;

                @media screen and (min-width:769px) {
                    padding:0 30px;
                }
            }
           
        }
    }

    .flickity-page-dots{
        bottom: 0;

        .dot{
            margin-bottom: 10px;
        }
    }
    :target{    
       
    } 
    .cta-all{
        margin:-40px auto 100px auto;

        .global-button{
            background: var(--colorClassicNavy);            
        }

    }
    
}


/* Layout Hub */
.article-layouthub-6160d6ac151ba402353eedb2,
.article-layouthub-60bf7f59b7d632428a657c92,
.article-layouthub-6112c609b899ca2b79083472 {
    .lh-category-item .lh-category-thumbnail .lh-link{
        display: none !important;
    }
}

.article-layouthub-6112c609b899ca2b79083472{
    [data-section-id="qr315r2mms"],
    [data-section-id="n40bn78ztl"]  {
        .lh-item{
            &:hover{
                background: #fbf3ee !important;
                color: var(--colorClassicNavy) !important;
            }
        }
    }
}
.article-layouthub-6064d4a47661cb65cf33ce02{
    .lh-link{
        a{
            background: var(--colorFrenchBlue) !important;
            color: var(--colorWhite) !important;

            &:hover{
                background: var(--colorFrenchBlue) !important;
                color: var(--colorWhite) !important;
            }
        }
    }
}

.blog-article__main{
    display: none !important;
}
.section-wrapper--article {
    background: var(--colorEggShell);
    padding-top: 30px;
    padding-bottom: 30px;

    @media screen and (max-width:768px) {
        padding-left: 20px;

        .shopify-section--article-template{
            padding-top: 40px;
        }
    }
}