.dropdown_column__menu .dropdown_title li a:hover {
text-decoration: none;
}
@media (max-width: 767px){
.newsletter_section h3 {
    text-transform: none;
    letter-spacing: 1px;
    font-size: 32px;
    width: 100%;
    text-align: center;
    float: none;
}
}